body {

    font-family: "Arial";
    background: url(/images/fon-dlya-sayta.jpg);
}
#footer {
    font-family: Arial;
    position: fixed;
    width: 100%;
}

#reg_form {
    font-family: Arial;
      background: #e2e3ff;
      border-radius: 5px;
      text-align: center;
      margin-top: 2%;
  }
#reg_form .reg_block{
    font-family: "Arial";
    text-align: center;
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: 40px;
    background-color: #10b5b0;
    font-size: 22px;
}
#reg_form #login-reg{
    margin-top: 50px;
}
#cardForm {
    border: 2px solid #10b5b0;
    border-radius: 5px;
}
.valid-block{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-radius: 10px;
    color: #ff7171;
    margin-top: 40px;
}
.valid-block p{
    text-align: center;
}
.text{
    text-align: center;
}
.On {
    color: #30b7b2;
}

#h11 {
    font: bold 30px "Arial";
}

.menu-button {
    border: 0;
    width: 150px;
    padding: 12px 15px 10px;
    height: 89px;
}

#client-menu {
    margin-left: 25%;
}

.block-1 {
    display: flex;
    width: 1500px;
    margin: 10px;
}

.index-button {
    font: bold 20px "Arial";;
    color: #ffffff;

}

.select {
    width: 225px;
    border: 1px solid silver;
    height: 35px;
    color: #727171;
}

.header2 {
    margin-top: 15px;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    text-align: right;
}

#headF {
    margin-right: 10px;
}

#img1 {
    margin-top: 20px;
    margin-left: 40px;
    width: 100px;
    height: 100px;
}

.login {
    margin-left: 60px;
}

.clientop {
    width: 700%;
    margin-left: 25px;
}

#flex {
    margin-top: 10px;
    display: flex;
}
.st{
    margin-left: 15px;
}

.currencyinput {
    border: 1px inset #ccc;
}
.currencyinput input {
    border: 0;
}
